# 1. Ignorar basura de sistema y objetos
*.o
*.out
.DS_Store
ejecutables/

# 2. REGLA MAESTRA: Ignorar cualquier archivo sin extensión
# (Esto atrapa a 'iva', 'notas', 'scope', etc., en cualquier carpeta)
*
!*.*
!*/

# 3. EXCEPCIONES: Qué archivos SÍ queremos rastrear
!*.c
!*.h
!*.md
!*.txt
!.gitignore
!.py
